.DS_Store
*.log
wp-config.php
contenido
core/advanced-cache.php
core/backup-db/
core/backups/
core/blogs.dir/
core/cache/
core/upgrade/
core/uploads/
core/mu-plugins/
core/wp-cache-config.php
core/plugins/hello.php

/wp/license.txt
/wp/readme.html
sitemap.xml
sitemap.xml.gz

